In [2]:
import pandas as pd
import numpy as np
import re

In [3]:
file = './data/BMC-ContainmentZones.js'


**Regex to parse similar pattern to following code snnipet**
~~~js
var marker_9795626cfd584471ab4406d756a00baf = L.marker(
    [19.041691972000024, 72.85052482000003],
    {}
).addTo(feature_group_ad623471194f451d9f1cf7fc718747c5);
~~~

it will be able to get the value for marker id, long, lat data

In [9]:
data =None
data  = open(file,'r').read()
""" read data """
with open(file,'r') as f:
    data = f.read()
f.close()

""" parser """

pattern = """var[\t ]*marker_[0-9a-zA-Z]+[\n\t ]*=[\n\t ]*L.marker[\n\t ]*\([\n\t ]*\[[\n\t ]*[0-9]*[.][0-9]+"""
pattern+="""[\n\t ]*[,][\n\t ]*[0-9]*[.][0-9]+[\n\t ]*\]"""

match = re.findall(pattern =pattern,string = data)
print('Total Match', len(match))

""" randomly check 3 pattern match"""
n = np.random.randint(1,len(match))
print('\nCheck random sample\n',match[n:n+3])


""" Store All marker, latitue logitude"""
marker_list = []
latitude_longitude_pair = []

for string in match:
    marker_list.append(re.findall(pattern='_[0-9a-z]+',string=string)[0][1:])
    latitude_longitude_pair.append(re.findall(pattern='[0-9]*[.][0-9]+',string = string))



print(f'\n Total marker :: {len(marker_list)} \n Check random  :: \
      {marker_list[np.random.randint(1,len(marker_list))]}')


print(f'\n Total latitude_longitude_pair :: {len(latitude_longitude_pair)} \n Check random  :: \
      {latitude_longitude_pair[np.random.randint(1,len(latitude_longitude_pair))]}')


latitude, longitude = [i[0] for i in latitude_longitude_pair],[i[1] for i in latitude_longitude_pair]

""" Create DataFrame"""
df =pd.DataFrame(data ={'marker_id':marker_list,
                    'latitude':latitude,
                    'longitude':longitude
                   })

Total Match 640

Check random sample
 ['var marker_15d5f2ad2c50460aa60c82dfe6821aed = L.marker(\n                [18.9151653, 72.82994599999999]', 'var marker_c8ad12ceee55466bbce1f4b5c0cb57f2 = L.marker(\n                [18.92346139142684, 72.83336606011292]', 'var marker_1ca447efd41f4ade88f83a71b25fbc1c = L.marker(\n                [18.92192164805819, 72.8252629324568]']

 Total marker :: 640
 Check random  ::       82db4813069d413db1eace03208ea5dd

 Total latitude_longitude_pair :: 640
 Check random  ::       ['19.13468055555556', '72.85989166666666']

In [10]:
df.head()

                          marker_id            latitude          longitude
0  9795626cfd584471ab4406d756a00baf  19.041691972000024  72.85052482000003
1  82a31b114c0243859e73c4f5f1332554  19.047690380000063  72.85787174600006
2  0e93001008714f1da3c40e3317183810  19.039267403000053  72.85491353500004
3  a41b90c2ea4a405b8a35811cd094ea68   19.04372482200006  72.85004247900008
4  3e13bed860e9471d9a1323cffd3b6129  19.017987179000045  72.81980024300003

In [11]:
df.to_csv('marker_latitude_longitude.csv',index = None)
pd.read_csv('marker_latitude_longitude.csv')

                            marker_id   latitude  longitude
0    9795626cfd584471ab4406d756a00baf  19.041692  72.850525
1    82a31b114c0243859e73c4f5f1332554  19.047690  72.857872
2    0e93001008714f1da3c40e3317183810  19.039267  72.854914
3    a41b90c2ea4a405b8a35811cd094ea68  19.043725  72.850042
4    3e13bed860e9471d9a1323cffd3b6129  19.017987  72.819800
..                                ...        ...        ...
635  ba79eea37f8347ee9a3df5f885e4ffc1  19.160410  72.855150
636  cb08d17e9ff24c988e4514059168796d  19.187330  72.812580
637  bfcdac2899914d219a6af40ee233939c  19.203540  72.862360
638  9ffe302c282f4a36a039a749f885a5ef  19.065440  72.830510
639  d304a679c76c4ee596d0180ba25061f0  19.090350  72.886050

[640 rows x 3 columns]